html, body {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

.keyboard {
  height: 100%;
  padding: 0 25px;
  margin-top: 0;
  display: flex;
  overflow-y: scroll;
}

.keyboard > div {
  flex-shrink: 0;
  height: calc(100% - 20px);
  padding: 0;
  margin: 0;
  width: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
  vertical-align: top;
  box-shadow: 0 0 20px -7px #000;
  
  display: flex;
  justify-content: space-around;
}

.keyboard > div > span {
  margin-top: auto;
  margin-bottom: 10px;
  user-select: none;
  transition: opacity .5s;
  opacity: 0;
  font-size: 11px;
}

.keyboard > div.active > span {
  opacity: 1;
}

.keyboard > .black {
  background-color: #000;
  height: calc(61.8% - 20px);
  width: 30px;
  margin: 0 -16px;
  z-index: 1;
  color: #fff;
}

.keyboard > .active {
  background-color: #569CD6;
}

.keyboard > .passive {
  transition: background-color 1s;
}

.keyboard > .active.black {
  background-color: #264F78;
}

.layout-pane {
  overflow-y: hidden !important;
}

.knobs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #1E1E1E;
  height: 100%;
  justify-content: space-evenly;
}

.knobs > p {
  padding: 30px;
  color: lightgray;
  margin: auto;
  text-align: center;
}

.knob {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto 10px;
}

.knob > label {
  margin-top: -20px;
  font-size: 12px;
  color: #DCDCDC;
}

.knob span {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  margin-left: -100%;
  transform: translateY(-50%);
  color: #569CD6;
}

.knob > div {
  position: relative;
}

.editorWithError {
  height: 100%;
}

.errorField {
  position: absolute;
  bottom: 0;
  min-height: 10px;
  width: 100%;
  font-family: monospace;
  padding: 10px;
  box-sizing: border-box;
  white-space: pre;
}

.errorField.sucess {
  background: #608B4E;
}

.errorField.error {
  background: #ff3333;
}
